:root {
  --primary: #706fd3;
  --primary-2: #474787;
  --secondary: #2c2c54;
  --secondary-2: #40407a;

  --dark: #333333;
  --white: #f7f1e3;

  --light-gray: #d1ccc0;
  --light-green: #33d9b2;
  --light-red: #ff5252;
  --light-blue: #34ace0;
  --light-yellow: #ffda79;

  --dark-gray: #84817a;
  --dark-green: #218c74;
  --dark-red: #b33939;
  --dark-blue: #227093;
  --dark-yellow: #ccae62;
}
